@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #686de0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 6px 6px rgba(0,0,0,.1);
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;

    h3 {
        margin: 0;
        letter-spacing: 2px;
        opacity: .5;
    }

    .joke {
        max-width: 600px;
        margin: 50px auto;
        letter-spacing: 1px;
        font-size: 30px;
    }

    .btn {
        background-color: #9f68e0;
        border: none;
        padding: 14px 20px;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 5px 15px rgba(0,0,0,.1), 0 6px 6px rgba(0,0,0,.1);
        cursor: pointer;

        &:active {
            transform: scale(.98);
        }

        &:focus {
            outline: none;
        }
    }
}