* {
    box-sizing: border-box;
}

body {
    background: #111;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .square {
        width: 16px;
        height: 16px;
        background-color: #1d1d1d;
        box-shadow: 0 0 2px #000;
        margin: 2px;
        transition: .3s ease;
        
        &:hover {
            transition-duration: 0s;
        }
    }
}